{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}

{% image self.image1 fill-900x400 as img1 %}
{% image self.image2 fill-900x400 as img2 %}
{% image self.image3 fill-900x400 as img3 %}
{% image self.image4 fill-900x400 as img4 %}
{% image self.image5 fill-900x400 as img5 %}
{% image self.image6 fill-900x400 as img6 %}

 <h1 class ="ex_bg container-fluid">Why Exibhit?</h1>
        <div class="content-container container centere">
            <ul>
                <div class="hov">
                <hr class="invisiblehr">
                <li class = "forwhyli">
                    <img class="forimg mb-2" src={{img1.url}} alt="Image 1">
                    <br>
                    <div>
                        <h2 class="padde">Enhance brand recognition</h2>
                        <p>Exhibiting at the event is a prime opportunity to enhance brand recognition, increase visibility, and promote products to a wider audience on a global scale.</p>
                    </div>
                </li>
                <hr></div>
                <div class="hov">
                <hr class="invisiblehr">
                <li class = "forwhyli">
                    <img class="forimg mb-4" src={{img2.url}} alt="Image 2">
                    <div>
                        <h2 class="padde">Acquire new leads</h2>
                        <p>By engaging with potential investors and partners, exhibitors can acquire new leads and expand their business network. </p>
                    </div>
                </li>
                <hr>
                </div>
                <div class="hov">
                <hr class="invisiblehr">
                <li class = "forwhyli">
                    <img class="forimg mb-4" src={{img3.url}} alt="Image 3">
                    <div>
                        <h2 class="padde">Competitive advantage</h2>
                        <p>By showcasing the latest technologies, exhibitors can gain a competitive advantage over their peers, and stay up-to-date on the latest industry trends and insights. </p>
                    </div>
                </li>
                <hr>
                </div>
                <div class="hov">
                <hr class="invisiblehr">
                <li class = "forwhyli">
                    <img class="forimg mb-4" src={{img4.url}} alt="Image 4">
                    <div>
                        <h2 class="padde">Knowledge sharing and learning</h2>
                        <p>Exhibitors can participate in seminars, workshops, and panel discussions, share their knowledge and insights, and learn from other industry professionals and experts.</p>
                    </div>
                </li>
                <hr>
                </div>
                <div class="hov">
                <hr class="invisiblehr">
                <li class = "forwhyli">
                    <img class="forimg mb-4" src={{img5.url}} alt="Image 5">
                    <div>
                        <h2 class="padde">Network expansion</h2>
                        <p>Exhibitors can connect with industry peers, experts, and stakeholders, and forge new business relationships, opening up new opportunities for growth and expansion. </p>
                    </div>
                </li>
                <hr>
                </div>
                <div class="hov">
                    <hr class="invisiblehr">
                    <li class = "forwhyli">
                        <img class="forimg mb-4" src={{img6.url}} alt="Image 6">
                        <div>
                            <h2 class="padde">Get Access to Nepal’s Abundant Resources</h2>
                            <p>By interacting with local entrepreneurs and businesses, exhibitors can come in contact with local supply chains and enhance production by using their advanced technology and Nepal’s resources. 
                    </li>
                    <hr>
                    </div>
            </ul>
        </div>


{% endblock %}