{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailcore_tags %}


{% block content %}
    {% image self.home_message_img fill-300x300 as home_message_img %}
 <h1 class="ex_bg">About Us</h1>

<div class = "text-box container mt-5" id='message-prez'>
    <h3 class="my-5"><center>Message from the President</center></h3>
    <center><img class="home-img mb-5" src={{ home_message_img.url }}></center>
    <div class="pt-30">{{ self.home_message_content|richtext }}</div>

</div>

<section class="board-members mt-5">
  {% for block in page.content %}
        {% include_block block %}
    {% endfor %}
</section>

<section class='accordion'>
  {% for block in page.accordion %}
        {% include_block block %}
  {% endfor %}
</section>


<div class = "text-box container my-5" id='message-prez'>
    <h3 class="my-5"><center>FENEFFEA</center></h3>
    <center><img class="home-img mb-5" src={{ logo_img.url }}></center>
    <div class="pt-30">{{ self.about_feneffea|richtext }}</div>

</div>
{% endblock %}