{% extends 'base.html'%}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}

{% image self.wood_img fill-900x400 as wood_img %}
        
        <h1 class="ex_bg container-fluid">Exhibiter's Profile</h1>
        <center>
        <div class="ex_container">
          <img class='wood-img' src={{wood_img.url}} alt="Snow" style="width:50%;">
          <div class="centered rectangle">
              <h1>
                  WOOD WORKING MACHINERY
              </h1>
          </div>
        </div>
        </center>


        <table class="table table-striped container">
            <tr class="hov">
                <td>&#x2022; Adhesives for the Wood</td>
                <td>&#x2022; Blades and Knives</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Bleaching Plants</td>
                <td>&#x2022; Boring Machines</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Chipper, Flakers, Hammer for wood Preparation</td>
                <td>&#x2022; Cladding</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Cutting Machines and Tools</td>
                <td>&#x2022; Dispersions</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Hines and Plants</td>
                <td>&#x2022; Hotmelt (EVA, Polyamide, Polyolefin, Polyester, Polyurethane)</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Joinery and Assembly Machines</td>
                <td>&#x2022; Laminating Equipment</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Lathers</td>
                <td>&#x2022; Machines for Raw Material Screening and Cleaning</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Molding Machines/Molders</td>
                <td>&#x2022; Molding, Beading, Wainscoting, Paneling</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Dowelling Machines</td>
                <td>&#x2022; Dryer and Grader</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Drying Kiln Equipment</td>
                <td>&#x2022; Dust Control and Vacuum Cleaners</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Edge Benders / Trimmers</td>
                <td>&#x2022; Energy plants</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Fastening Systems</td>
                <td>&#x2022; Fiber Dryer</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Finishing and Fittings</td>
                <td>&#x2022; Foams and Sealants</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Gluing and Fixing Machine</td>
                <td>&#x2022; Gluing systems</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Handling and Finishing Incl. Diagonal Saw. Raw Broad Handling Raw, Broad Storage Systems, etc.</td>
                <td>&#x2022; Hines and Plants</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Hot Coating</td>
                <td>&#x2022; Hotmelt (EVA, Polyamide, Polyolefin, Polyester, Polyurethane)</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Joinery and Assembly Machines</td>
                <td>&#x2022; Laminating Equipment</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Lathers</td>
                <td>&#x2022; Machines for Raw Material Screening and Cleaning</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Molding Machines/Molders</td>
                <td>&#x2022; Molding, Beading, Wainscoting, Paneling</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Particle Broad Plant</td>
                <td>&#x2022; Plywood Manufacturing Machinery</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Pneumatic Nail, Pinning Gun</td>
                <td>&#x2022; Prepress</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Press and Plants</td>
                <td>&#x2022; Presses (CPS and Contiplus)</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Pressure Sensitive</td>
                <td>&#x2022; Profile Cutting and Forming Machine</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Pulp Preparation Equipment</td>
                <td>&#x2022; PUR Adhesives</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Rounding Machines</td>
                <td>&#x2022; Sanding and Polishing Machines</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Sawn Sawing Machines</td>
                <td>&#x2022; Special Adhesives for the wood</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Specialized Wood Production Plant</td>
                <td>&#x2022; Spindling and Turning Machine</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Steam Preheating</td>
                <td>&#x2022; Timber Processing</td>
              </tr>
              <tr class="hov">
                <td>&#x2022; Veneering Mac</td>
                <td></td>
              </tr>
        </table>

{% endblock %}