{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}

    {% image self.carousal1 fill-900x400 as carousal_img1 %}
    {% image self.carousal2 fill-900x400 as carousal_img2 %}
    {% image self.carousal3 fill-900x400 as carousal_img3 %}
    
    {% image self.panel_img1 fill-1000x800 as p_img1 %}
    {% image self.panel_img2 fill-900x400 as p_img2 %}
    {% image self.panel_img3 fill-900x400 as p_img3 %}

    {% image self.right_arrow fill-900x900 as right_arrow %}

    {% image self.pub_panel_img1 fill-230x390 as pub_img1 %}
    {% image self.pub_panel_img2 fill-230x390 as pub_img2 %}
    {% image self.pub_panel_img3 fill-230x390 as pub_img3 %}
    {% image self.pub_panel_img4 fill-230x390 as pub_img4 %}

    {% image self.home_message_img fill-300x300 as home_message_img %}
    {% image self.jumbotron_img fill-900x400 as jumborton_img %}

        {% for block in page.carousel %}
            {% include_block block %}
        {% endfor %}
   
        {% comment %} <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src={{carousal_img1.url}} class="d-block w-100" alt="...">
                    <div class="container img-description">
                        {{ self.carousal_text1 }}
                    </div>
                </div>
                <div class="carousel-item">
                    <img src={{carousal_img2.url}} class="d-block w-100" alt="...">
                    <div class="container img-description">
                        {{ self.carousal_text2 }}
                    </div>
                </div>
                <div class="carousel-item">
                    <img src={{carousal_img3.url}} class="d-block w-100" alt="...">
                    <div class="container img-description">
                        {{ self.carousal_text3 }}
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div> {% endcomment %}
        <div class='container jumbotron-container my-5'>
            <div class="jumbotron p-5">
                <h1 class="display-4">The Biggest Furniture Event in Nepal is Here!</h1>
                <img class="my-5" width="100%" src={{jumborton_img.url}}>
                <p class="lead">​​The Federation of Nepal Furniture and Furnishing Entrepreneurs Associations (FENEFFEA) is thrilled to announce International Furnitech B2B Expo 2023, the premier B2B furniture and furnishing expo supported by the Ministry of Industry and Commerce, Government of Nepal, to be held at Bhrikutimandap Exhibition Hall, Kathmandu,Nepal from 12-14 May 2023 (29-31 Baishakh 2080).
                .</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/why-exhibit" role="button">Learn more</a>
                </p>
            </div>
        </div>
        <header class='pub-header my-5'>
            <a href='/why-exhibit' class="pub-header"><h1 class='border-bottom'>Furnitech B2B Expo 2023</h1> <img src={{right_arrow.url}} class='r-arrow'></a>
        </header>
        <div class='panels'>
            <div class='panel'>
                <a href={{self.link1_url}}><div style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8)), url({{p_img1.url}})" class='panel-image'></div></a>
                <div class='caption'><a class="text-white" href={{self.link1_url}}><strong>{{self.panel_text1}}</strong></div>
            </div>
            <div class='panel'>
                <a href={{self.link2_url}}><div style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8)),url({{p_img2.url}})" class='panel-image'></div></a>
                <div class='caption'><a class="text-white" href={{self.link2_url}}><strong>{{self.panel_text2}}</strong></a></div>
            </div>
            <div class='panel'>
                <a href={{self.link3_url}}><div style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8)),url({{p_img3.url}})" class='panel-image'></div></a>
                <div class='caption'><a class="text-white" href={{self.link3_url}}><strong>{{self.panel_text3}}</strong></a></div>
            </div>
        </div>
            <div class="container jumbotron-container my-5 p-5">
                <h1 class="display-4">Message from the President</h1>
                <img class="my-5" width="20%" height="auto"src={{home_message_img.url}}>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>{{ self.home_message_content|richtext }}</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/about#message-prez" role="button">Learn more</a>
                </p>
            </div>
        
        <a href='/why-exhibit' class="pub-header"><h1 class='border-bottom'>Image Gallery</h1></a>

        {% for block in page.img_gallery %}
            {% include_block block %}
        {% endfor %}
            
        <header class='my-5'>
            <a href='/publications' class="pub-header"><h1 class='border-bottom'> Publications </h1> <img src={{right_arrow.url}} class='r-arrow'></a>
        </header>
        <div class="container pub-container my-5">
            <hr>
            <div class='pub-panel'>
                <img src={{pub_img1.url}} class="pub-panel-img">
                <span class='image-description'> {{self.pub_panel_text1}} </span>
            </div>

            <div class='pub-panel'>
                <img src={{pub_img2.url}} class="pub-panel-img">
                <span class='image-description'> {{self.pub_panel_text2}} </span>
            </div>

            <div class='pub-panel'>
                <img src={{pub_img3.url}} class="pub-panel-img">
                <span class='image-description'> {{self.pub_panel_text3}} </span>
            </div>

            <div class='pub-panel'>
                <img src={{pub_img4.url}} class="pub-panel-img">
                <span class='image-description'> {{self.pub_panel_text4}} </span>
            </div>
        </div>
        
{% endblock %}