{% load wagtailimages_tags %}


<div class="headline my-3">
        <span class="headline-text "><h6> {{ self.card_group_title }}  </h6></span>
        <span class='empty-box'></span>
</div>

<div class="card-container">

{% for card in self.cards  %}
    {% image card.image fill-500x400 as img %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{img.url}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{card.card_title}}</h5>
                <p class="card-text">{{card.card_subtitle}}</p>
                <a href="#" class="btn btn-primary">{{card.button_text}}</a>
            </div>
        </div>
{% endfor %}
</div>
